<%= form_with(model: profile, local: true) do |f| %>
  <% if profile.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(profile.errors.count, "erro") %> encontrado:</h4>
      <ul>
        <% profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-4">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name, "Nome" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <div class="form-check">
            <%= f.check_box :admin, class: 'form-check-input' %>
            <%= f.label :admin, "Administrador", class: 'form-check-label' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-check">
            <%= f.check_box :active, class: 'form-check-input' %>
            <%= f.label :active, "Ativo", class: 'form-check-label' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Permissões</h5>
    </div>
    <div class="card-body">
      <table class="table table-permissions">
        <thead>
          <tr>
            <th>Controller</th>
            <% @permissions.each do |permission| %>
              <th><%= permission.to_s.titleize %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @controllers.each do |controller| %>
            <tr>
              <td class="permission-group"><%= controller.humanize %></td>
              <% @permissions.each do |permission| %>
                <td>
                  <div class="form-check">
                    <%= check_box_tag "permissions[#{controller}][#{permission}]",
                                    "1",
                                    @current_permissions&.include?([controller, permission.to_s]),
                                    class: 'form-check-input' %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-4">
    <%= f.submit "Salvar", class: 'btn btn-primary' %>
    <%= link_to "Voltar", profiles_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %> 